.Up {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    padding: 50px 10px;
}

.RouterProducts {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    width: 100%;
    padding: 10px 0;
    -webkit-overflow-scrolling: touch;
}

.category-slider {
    display: flex;
    overflow-x: auto;
    cursor: grab;
    user-select: none;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.category-slider::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}

.category-slider:active {
    cursor: grabbing;
}

.category-link {
    flex: 0 0 auto;
    padding: 10px 20px;
    margin: 0 5px;
    white-space: nowrap;
}

.category-link {
    flex: 0 0 auto;
    padding: 10px 16px;
    border-radius: 20px;
    background-color: #eee;
    color: #333;
    text-decoration: none;
    white-space: nowrap;
    scroll-snap-align: start;
    transition: background-color 0.3s ease;
}

.category-link:hover {
    background-color: #ddd;
}


a:hover {
    color: cornflowerblue;
}

.banner {
    color: black;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 1000px;
    height: 344px;

}

.Banner h2{
    text-align: left;
}

.banner_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.iphone_icon {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

h1 {
    font-size: 48px;
}

.anh img {
    display: flex;
    align-items: center;
    width: 396px;
    height: 300px;
    padding-bottom: 50px;
}

.shop_now {
    display: flex;
    align-items: center;
    padding-left: 100px;
    font-size: 20px;
}

.shop_now a {
    color: plum;
    text-decoration: none;
    font-weight: bold;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
    image-rendering: -webkit-optimize-contrast;


}